.nav_small {
    display: none;
}

@media (max-width: 991.98px) {
    .nav_small {
        display: block;
    }

    .nav_small .nav_smal_overlay {
        position  : fixed;
        top       : 0;
        left      : 0;
        width     : 100%;
        height    : 100%;
        background: rgba(0, 0, 0, 0.50);
        opacity   : 0;
        visibility: hidden;
        transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
    }

    .nav_small.show .nav_smal_overlay {
        opacity   : 1;
        visibility: visible;
    }

    .nav_small .nav_small_content {
        position        : fixed;
        top             : 0;
        right           : 0;
        width           : 100%;
        height: 100vh;
        transform       : translateX(100%); 
        background-color: var(--white);
        padding         : 5.625rem 1.6rem 4rem;
        transition      : transform .3s ease-in-out;
    }

    .nav_small.show .nav_small_content {
        transform: translateX(0);
    }

    .nav_small .btn_close {
        position: absolute;
        top     : 1.4rem;
        right   : 1.6rem;
        color: var(--white);
    }

    .nav_small .btn_close>svg {
        width : 2rem;
        height: 2rem;
    }

    .nav_small_content .logo_wrapper {
        width: 13.5rem;
        margin: 0 auto;
    }

    .nav_small_content nav {
        border-top: 1px solid rgba(211, 211, 211, .3);
        padding     : 2.5rem 0;
        /* margin      : 5.625rem 0 7.5rem; */
    }

    .nav_small_content nav>a {
        display       : block;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: normal;
        color         : var(--gray-8);
        text-transform: uppercase;
        text-align    : center;
        transition    : color .3s ease-in-out;
    }

    .nav_small_content nav>a:not(:last-child) {
        margin-bottom: 1.875rem;
    }

    .nav_small_content nav>a:hover,
    .nav_small_content nav>a.active {
        font-weight: 700;
    }


    .nav_small_content .text_center {
        text-align: center;
    }

    .nav_small_content .text_center a {
        display: inline-block
    }

}